[access]
	inheritFrom = Copybara-Mirror

[project]
	description = Mirror of github/kubernetes-incubator/ip-masq-agent
[access "refs/*"]
	owner = group kubernetes-incubator/ip-masq-agent Default Owners
[access "refs/heads/*"]
	create = group GKE Networking Louhi Service Account
	createSignedTag = group GKE Networking Louhi Service Account
	createTag = group GKE Networking Louhi Service Account
	forgeCommitter = group GKE Networking Louhi Service Account
	forgeServerAsCommitter = group GKE Networking Louhi Service Account
	owner = group GKE Networking Louhi Service Account
	push = group GKE Networking Louhi Service Account
	pushMerge = group GKE Networking Louhi Service Account
	read = group GKE Networking Louhi Service Account
	rebase = group GKE Networking Louhi Service Account
	submit = group GKE Networking Louhi Service Account
	submitAs = group GKE Networking Louhi Service Account
	forgeAuthor = group GKE Networking Louhi Service Account
